.prize_container{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/syonit_stadium4.png'); /* Replace with the path to your image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    color: #fff;
    padding: 0 20px 150px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Home_screen{
    width: 100%;
    min-height: 200px;
    border: 1px solid #fff;
    border-radius: 36px;
    display: block;
    padding: 40px 20px;
    text-align: center;
    }
    .Home_screen h1{
      font-size: 16px;
    }
    .prize_grid{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
    }
    .prizes_container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      border: 1px solid #fff;
      padding: 20px;
      gap: 20px;
    }
    .prize_img_container{
      width: 100%;
      height: 100%;
    }
    .prize_img_container img{
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
    .prize_grid .selected_prize{
        background-color: rgb(88, 224, 88);
    }

    .prize_buttons button{
        background-color: transparent;
        color: #fff;
        font-size: 24px;
        outline: none;
        border: none;
    }
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .modal {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
      }
      .modal h2{
        color: #000;
      }
      .modal-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
      }
      
      .no-button, .continue-button {
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
      }
      
      .no-button {
        background-color: red;
        color: white;
      }
      
      .continue-button {
        background-color: green;
        color: white;
      }
      