.about_container{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/syonit_stadium4.png'); /* Replace with the path to your image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    color: #fff;
    padding: 0 20px 150px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
    .about_header{
        padding: 20px 0 20px;
    }
    .about_header h1{
        font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
text-transform: uppercase;
text-decoration: underline;
font-size: 28px;
leading-trim: both;
text-edge: cap;
text-align: center;
    }
.about_description_container{
    padding: 20px 0;
}
.about_description_container p{
    font-family: "Helvetica Neue";
text-align: center;
color: #fff;
font-size: 16px;
font-weight: 400;
}
