
.aboutContainer {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/bg.jpg');
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    padding: 40px 20px  20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.aboutHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
    font-family: 'DM Sans';
  font-size: 24px;
  text-transform: capitalize;
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 0.30em;
  color: #faf6d9ff;
  text-align: center;
}

.subheader {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "DM Sans";
  color: #faf6d9ff;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slider-content {
  width: 100%;
  height: 400px;
  max-height: 400px;
  background-color: transparent;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  color: #faf6d9ff;
  display: flex;
  flex-direction: column;
  border: 1px solid #faf6d9ff;
  border-radius: 20px;
}

.slider-content h1 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  font-family: "DM Sans";
}
.slider-content ul{
      margin: 0;
  font-size: 14px;
  font-family: "DM Sans";
}
.slider-content ul li{
    margin-bottom: 5px;
    list-style: none;
}
.slider-progress {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #d3d3d3;
  position: relative;
  overflow: hidden;
  margin-top: -10px;
}

.progress-fill {
  position: absolute;
  height: 100%;
  background-color: #fb7b3cff;
  transition: width 0.3s ease-in-out;
}

.progress-text {
  margin-left: 10px;
  font-size: 14px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -10px;
}

.nav-button {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  background: rgb(251, 123, 60, 0.2);
  font-size: 28px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.ButtonContainer{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
}
.nav-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.button-group {
  display: flex;
  gap: 20px;
}

.action-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}