.text-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.continue-button{
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    margin: 5px 0;
    border: none;
    outline: none;
    margin-top: 10px;
  }
  .text-container p{
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: center;
  }
  .bottom_button{
    width: 100vw;
    position: fixed;
    padding: 0 20px;
    bottom: 50px;
    left: 0;
  }