.intro_container{
    height: 100svh;
    background-image: url('/bg.jpg');
    background-size: 600%; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.onboarding_primary_text{
    width: 100%;
    position: relative;
    text-align: center;
  }
  
 .onboarding_primary_text h1{
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 7.68px;
  color: rgba(255, 255, 255, 1);
  }

.text-container{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.continue-button{
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    margin: 5px 0;
    border: none;
    outline: none;
    margin-top: 10px;
  }
  .text-container p{
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    color: rgba(254, 244, 220, 1);
;
  }
  .text-container a{
          margin-top: 20px;
          width: 200px;
          background: "transparent";
          font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
          margin-bottom: 0px;
         text-align: center;
         text-transform: uppercase;
            text-decoration: none;
  }
  hr{
    width: 16px;
    background-color: rgba(254, 244, 220, 1);
  }
  .bottom_button{
    width: 100vw;
    position: absolute;
    padding: 0 20px;
    bottom: 20px;
    left: 0;
  }
     .new_intro_bottom_content{
width: 100%;
padding: 20px 0 0;
display: block;
display: flex;
flex-direction: column;
align-items: center;
  }
  .new_onboarding_illustration{
    width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
    visibility: visible;
  opacity: 1;
  transition: visibility 0s .5s, opacity 1s .5s;
  }
  .new_onboarding_illustration img{
    width: 100%;
    height: 100%;
  }
  .intro_musketeer{
   width: 44.42px;
   height: 26px;
   margin-bottom: 0;
  }
  .new_intro_bottom_text{
  text-align: center;
    width: 100%;
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1.8px;
    color: rgba(247, 113, 47, 0.38);
  }