.back-to-top-container {
  position: fixed;
  bottom: 8rem;
  right: 2rem;
  z-index: 50;
}

.back-to-top {
height: 50px;   
width: 50px;
  padding: 0.75rem;
  border-radius: 50%;
  background-color: #fb9653ff;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}

.back-to-top:hover {
  background-color: #1d4ed8;
}

.back-to-top:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3);
}