.buttonsContainer{
    width: 100%;
    height: 94px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 65px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition: color 0.3s;
    aspect-ratio: 1/15;
    transform: rotateY(0deg);
    }
    .button_circle{
        border-radius: 50%;
        position: absolute;
        width: 93.5px;
        height: 93.5px;
        left: 50%;
        top: 50%;
        background: transparent;
        transform: translate(-50%, -50%);
        border: 1px solid #fff; /* Flash animation */
        }
        .game_stroke_links{
          font-family: "Grimer";
          font-size: 18px;
          text-transform: uppercase;
          color: transparent;
          background-color: transparent;
          -webkit-text-stroke: 0.5px #fff;
          outline: none;
          padding: 0 5px;
          border: none;
        }
        .line {
            position: absolute;
            width: 2px;
            height: 20px;
            background-color: gray;
            transition: background-color 0.3s;
          }
          
          .line.active {
            background-color: white;
          }
          .game_single_button{
            position: relative;
          font-family: 'Grimer';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          white-space: wrap;
          line-height: 108.88%;
          text-align: center;
          color: #F77332ff;
          width: 45%;
          }