.buttonsContainer{
    width: 100%;
    height: 94px;
    background: transparent;
    border-radius: 79px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition: color 0.3s;
    aspect-ratio: 1/15;
    transform: rotateY(0deg);
    border: 1px solid rgba(248, 194, 158, 1);
    }
    .button-circle, .home_circle{
        border-radius: 50%;
        position: absolute;
        width: 93.5px;
        height: 93.5px;
        left: 50%;
        top: 50%;
        background: rgba(248, 194, 158, 1);
        transform: translate(-50%, -50%);
     /* Flash animation */
        }
        .home_circle{
          border: 1px solid #fb7b3cff;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: radial-gradient(circle, #fb7b3cff, rgb(204, 169, 120) 50%);
        }
        .circle_info{
          text-align: center;
        }
        .circle_info p{
           font-size: 14px;
  color: #fb7b3cff;
  font-family: "DM Sans";
  font-weight: 700;
        }
        .circle_info h1{
          font-family: "Helvetica Neue";
          color: #fafafa;
          font-weight: 500;
        }
        .game_stroke_links{
          font-family: "Heebo";
          width: 30%;
          text-align: center;
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          color: rgba(247, 113, 47, 1);
          background-color: transparent;
          outline: none;
          padding: 0 5px;
          border: none;
        }
        .lines{
              border: 2px solid #fb7b3cff;
              border-radius: 50%;
              overflow: hidden;
        }
        .line {
            position: absolute;
            width: 2px;
            height: 20px;
            background-color: #fb7b3cff;
            transition: background-color 0.3s;
          }
          
          .line.active {
            background-color: #fb7b3cff;
          }
      