
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-section .header {
 font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
    font-family: 'Heebo', sans-serif;
  font-size: 16x;
  text-transform: capitalize;
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 7.68px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.profile-icon, .book-icon {
  width: 48px;
  height: 48px;
  background-color: rgba(249, 202, 124, 0.42);
  border-radius: 50%;
  position: relative;
  font-size: 24px;
  color: rgba(247, 113, 47, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.online{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(247, 113, 47, 1);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 4px;
}