
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-section .header {
   font-size: 24px;
  font-weight: bold;
    font-family: 'DM Sans';
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.30em;
  color: #faf6d9ff;
  text-align: center;
}

.profile-icon, .book-icon {
  width: 50px;
  height: 50px;
  background-color: rgb(196, 186, 167);
  border-radius: 50%;
  position: relative;
  font-size: 24px;
  color: #fb7b3cff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.online{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fb7b3cff;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: -2px;
}