.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
 background: rgba(0,0,0,0.45);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.modal-content {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 24px;
  padding: 24px;
  width: 90%;
  max-width: 600px;
  color: white;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.3);
}

.modal-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
  font-family: 'Heebo', sans-serif;
}
.modalPrize{
  font-size: 0.5rem;
  margin-bottom: 5px;
  font-family: 'Heebo', sans-serif;
  margin-bottom: 5px;
}
.modal-timer {
  color: gold;
  font-weight: bold;
  margin-bottom: 10px;
}

.chart-container {
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
}

.prize-list {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 16px;
}

.prize-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
}
.prize-info{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-family: 'Heebo', sans-serif;
}
.change-btn {
  color: white;
  border: 1px solid gold;
  background: transparent;
  transition: 0.3s;
  width: 30%;
  font-size: 12px;
  font-family: 'Heebo', sans-serif;
}

.change-btn:hover {
  background: gold;
  color: black;
}

.close-btn {
  background: gold;
  color: black;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}
