.user_profile{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/syonit_stadium4.png'); /* Replace with the path to your image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    color: #fff;
    padding: 20px 20px 150px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .user_profile_photo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }
  .user_profile_photo img{
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
.user_profile_details{
    width: 100%;
    padding: 40px 0;
}
.profile_container{
    margin-bottom: 10px;
}
.profile_container h3{
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "DM Sans";
    font-weight: bold;
}
.profile_container p{
    font-family: "Helvetica Neue";
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.Edit_button_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Edit_button_container button{
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Grimer" !important;
    cursor: pointer;
    width: 90%;
    text-align: center;
    font-weight: 700;
    margin: 0px auto 10px;          
}