/*

--sunset: #FCD5A3ff;
--orange-crayola: #FB7B3Cff;
--cornsilk: #FAF6D9ff;
--pumpkin: #EE7B37ff;
--cosmic-latte: #FAF3DFff;

--sunset: hsla(34, 94%, 81%, 1);
--orange-crayola: hsla(20, 96%, 61%, 1);
--cornsilk: hsla(53, 77%, 92%, 1);
--pumpkin: hsla(22, 84%, 57%, 1);
--cosmic-latte: hsla(44, 73%, 93%, 1);


$sunset: #FCD5A3ff;
$orange-crayola: #FB7B3Cff;
$cornsilk: #FAF6D9ff;
$pumpkin: #EE7B37ff;
$cosmic-latte: #FAF3DFff;


$sunset: hsla(34, 94%, 81%, 1);
$orange-crayola: hsla(20, 96%, 61%, 1);
$cornsilk: hsla(53, 77%, 92%, 1);
$pumpkin: hsla(22, 84%, 57%, 1);
$cosmic-latte: hsla(44, 73%, 93%, 1);


$sunset: rgba(252, 213, 163, 1);
$orange-crayola: rgba(251, 123, 60, 1);
$cornsilk: rgba(250, 246, 217, 1);
$pumpkin: rgba(238, 123, 55, 1);
$cosmic-latte: rgba(250, 243, 223, 1);


$gradient-top: linear-gradient(0deg, #FCD5A3ff, #FB7B3Cff, #FAF6D9ff, #EE7B37ff, #FAF3DFff);
$gradient-right: linear-gradient(90deg, #FCD5A3ff, #FB7B3Cff, #FAF6D9ff, #EE7B37ff, #FAF3DFff);
$gradient-bottom: linear-gradient(180deg, #FCD5A3ff, #FB7B3Cff, #FAF6D9ff, #EE7B37ff, #FAF3DFff);
$gradient-left: linear-gradient(270deg, #FCD5A3ff, #FB7B3Cff, #FAF6D9ff, #EE7B37ff, #FAF3DFff);
$gradient-top-right: linear-gradient(45deg, #FCD5A3ff, #FB7B3Cff, #FAF6D9ff, #EE7B37ff, #FAF3DFff);
$gradient-bottom-right: linear-gradient(135deg, #FCD5A3ff, #FB7B3Cff, #FAF6D9ff, #EE7B37ff, #FAF3DFff);
$gradient-top-left: linear-gradient(225deg, #FCD5A3ff, #FB7B3Cff, #FAF6D9ff, #EE7B37ff, #FAF3DFff);
$gradient-bottom-left: linear-gradient(315deg, #FCD5A3ff, #FB7B3Cff, #FAF6D9ff, #EE7B37ff, #FAF3DFff);
$gradient-radial: radial-gradient(#FCD5A3ff, #FB7B3Cff, #FAF6D9ff, #EE7B37ff, #FAF3DFff);

*/
:root {
  --background: #1f1919;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
.custom-toast-container{
  top: auto !important;
  right: 0 !important;
  left: auto !important;
  bottom: 300px !important;
  position: fixed !important;
}
/* Glassy overlay panel */
.glassy-panel {
   position: relative;
  background: rgba(255, 255, 255, 0.15); /* translucent */
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px) saturate(150%);
  -webkit-backdrop-filter: blur(12px) saturate(180%); /* Safari fix */

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  color: #fff;
  text-align: center;
  overflow: hidden;

}

/* glossy highlight */
.glassy-panel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0) 70%
  );
  pointer-events: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


