@font-face {
  font-family: "Heebo";
  src: url('./fonts/Heebo-Medium.ttf') format('truetype');
}
@font-face {
  font-family: "Grimer";
  src: url('./fonts/BNGrimer.otf') format('opentype');
}
@font-face {
  font-family: "sf-text";
  src: url('./fonts/sf-pro-display/sf-pro-text.ttf') format('truetype');
}
@font-face {
  font-family: "sf-display";
  src: url('./fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF') format('opentype');
}
@font-face {
  font-family: "sf-display-thin";
  src: url('./fonts/sf-pro-display/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
}
@property --gradient-angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

body{
  font-family: 'Grimer', 'Heebo';
}
.container {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/syonit_stadium4.png'); /* Replace with the path to your image */
  background-size: cover; /* Ensures the image covers the entire screen */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center;
  color: #fff;
  padding: 20px 20px 150px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
font-family: "DM Sans" !important;
font-style: normal;
font-size: 24px;
line-height: 22px;
leading-trim: both;
text-edge: cap;
color: transparent; /* Make the text fill transparent */
  -webkit-text-stroke: 1px #F6ee23; /* Define the stroke width and color */
  font-size: 24px; /* Adjust font size */
  font-weight: bold; 
}


.header .headerLine {
  width: 100vw;
  height: 2px;
  background-color: #fff;
  margin-top: 16px;
}

.onboarding_about{
  text-align: center;
  width: 100%;
  border-radius: 36px;
  display: block;
display: flex;
flex-direction: column;
padding: 20px 0;
justify-content: center;
align-items: center;
margin: 20px 0;
visibility: visible;
  opacity: 1;
  transition: visibility 0s .5s, opacity 1s .5s; 
}
.onboarding_about h4:first-child{
  font-family: "sf-display", serif;
  font-size: 28px;
  letter-spacing: -0.5px;
  margin: 40px 0;
  text-transform: capitalize;
}
.onboarding_about p{
  font-family: "DM Sans", serif;
  font-size: 18px;
  margin: 20px 0;
  text-transform: capitalize;
  font-weight: regular;
}

.about_no_display, .no_illustration{
visibility: hidden;
opacity: 0;
}
/* Main Content */
.swiper_container{
  width: 100%;
  background-color: transparent;
}
.swiper-slide{
  width: 100%;
  height: 282px;
}
.onboarding_slide, .Home_slide{
  width: 100%;
  padding: 20px 0;
}

.onboarding_slide p{
  font-family: "Grimer" !important;
font-size: 18px;
leading-trim: both;
text-edge: cap;
padding: 20px 0;
color: #fff;
}
.small_slide_text{
  font-size: 14px;
} 
.onboaring_screen{
width: 100%;
height: 282px;
border: 1px solid hsla(260, 98%, 74%, 1);
border-radius: 36px;
display: block;
}
.onboaring_screen{
  padding: 5px;
}
.onboaring_screen img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.onboarding_button{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  position: relative;
}



/* Progress Indicators  background: conic-gradient( from var(--gradient-angle), rgba(201, 201, 201, .17), rgba(201, 201, 201, .17), rgba(201, 201, 201, .17), rgba(201, 201, 201, .17), #fff);*/


.progressIndicators {
  display: flex;
  gap: 8px;
  margin: 20px 0;
}




.container  .progressDot,.container  .swiper-pagination-bullet  {
  width: 77px !important;
  height: 8px !important;
  background-color: #666 !important;
  border-radius: 3px !important;

}

.container .activeDot,.container  .swiper-pagination-bullet-active {
  background-color: hsla(260, 98%, 74%, 1) !important;
}
.container .swiper-pagination{
  display: flex;
  justify-content: space-between;
}

/* Illustrations */
.illustrations_container{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: auto;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s .5s, opacity 1s .5s;
}
.illustrations_container img{
  width: 100%;
  height: 100%;
}

/* Bottom Gradient, Circle, and Buttons */
.mainBottomContainer {
  width: 100vw;
height: 150px;
background: linear-gradient(180deg, rgba(236, 193, 110, 0) 17.45%, rgba(154, 47, 14, 0) 27.4%, rgb(166, 135, 227) 76.98%, hsla(260, 98%, 74%, 1) 87.4%, hsla(260, 98%, 74%, 1) 100%);
position: relative;
position: fixed;
bottom: 0;
left: 0;
}
.main-button-container{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.onboarding_buttons_container{
  width: 100%;
  position: fixed;
bottom: 0%;
left: 0;
padding: 20px;
}


@keyframes rotation {
  0% {--gradient-angle: 0deg;}
  100% {--gradient-angle: 360deg}
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}



.button_circle{
border-radius: 50%;
position: absolute;
width: 93.5px;
height: 93.5px;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
background: transparent;
transform: translate(-50%, -50%);
display: block;
}




.button_circle:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;

}

.button_circle:after {
  position: absolute;
  content: "";
  height: 50%;
  width: 50%;
  background-image: url('/syonit_icon.png'); /* Replace with the path to your image */
  background-size: cover; /* Ensures the image covers the entire screen */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center;
  top: 25%;
  left: 25%;
  border-radius: 50%;
  background-color: transparent;
  /*animation: flashGreen 1s infinite; Flash animation */
}
@keyframes flashGreen {
  0%, 100% {
    box-shadow: 0 0 5px 2px rgba(0, 255, 0, 0.8);
  }
  50% {
    box-shadow: 0 0 10px 4px rgba(0, 255, 0, 1);
  }
}
/*
.button_circle div {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  animation: spin 4s infinite linear, scale-up 2s infinite;

}
@keyframes scale-up {
  50% {
    transform: scale(1.8);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.button_circle div:nth-child(1) {
  height: 90%;
  width: 100%;
  background-color: #ff057c;
  left: -5%;
  top: -5%;
  animation-duration: 2s;
  animation-delay: 3s;
}
.button_circle div:nth-child(2) {
  height: 80%;
  width: 70%;
  background-color: #800f86;
  top: 15%;
  right: -15%;
  animation-duration: 10s;
  animation-delay: 7s;
}
.button_circle div:nth-child(3) {
  height: 65%;
  width: 80%;
  background-color: #1ba8e9;
  bottom: -30%;
  right: -20%;
  animation-duration: 4s;
  animation-delay: 2.2s;
}
.button_circle div:nth-child(4) {
  height: 50%;
  width: 75%;
  background-color: #34ff78;
  bottom: -5%;
  left: 8%;
  animation-duration: 7s;
  animation-delay: 6s;
}
.button_circle div:nth-child(5) {
  height: 45%;
  width: 55%;
  background-color: #f7fb1f;
  top: 50%;
  left: 0;
  animation-duration: 2.5s;
  animation-delay: 4s;
}
.button_circle div:nth-child(6) {
  height: 25%;
  width: 55%;
  background-color: #ffb326;
  top: 45%;
  left: -15%;
  animation-duration: 9s;
}
*/
.lines {
  position: relative;
  width: 100%;
  height: 100%;
}

.line {
  position: absolute;
  width: 1px;
  height: 20px;
  background: #fff;
  top: 0;
  left: 50%;
  transform-origin: center 46.75px;
}
.onboarding_link{
  font-family: "DM Sans", serif;
font-size: 28px;
text-transform: uppercase;
color: transparent;
z-index: 100;
-webkit-text-stroke: 0.5px #fff; /* Define the stroke width and color */
}
.stroke_links{
  font-family: "DM Sans", serif;
font-size: 28px;
text-transform: uppercase;
color: transparent;
z-index: 100;
-webkit-text-stroke: 0.5px #fff;
}
.onboarding_link_button{
  border: none;
  outline: none;
  background-color: transparent;
}
.onboarding_link_login{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}
.onboarding_link_sign{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  text-align: right;
}
/* points container*/
.main_point_container{
  width: 100%;
  margin: 0 0 20px 0;
}
.game_point_container{
  width: 100%;
}
.Points_container{
height: 50px;
background: transparent;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.game_Points_container{
  min-height: 60px;
background: transparent;
border: 1px solid #fff;
border-radius: 8px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
}
.points_text{
 width: 30%;
}
.next_game{
  width: 40%;
}
.points_text h4{
  font-family: "Helvetica Neue" !important;
font-style: normal;
font-weight: 500;
font-size: 8px;
text-align: center;
color: #fff;
}

.points_text p {
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #fff;
}
.next_game{
color: #fff;
margin-top: 30px;
}
.next_game h4{
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #fff;
}
.next_game p{
font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 24px;
color: #fff;
}

@keyframes rotation {
  0% { --gradient-angle: 0deg; }
  100% { --gradient-angle: 360deg}
}
@media all and (max-width: 400px){
  .header h1 {
      font-size: 18px; /* Adjust font size */
      font-weight: bold; 
    }
    .stroke_links{
    font-size: 18px;
    }
}
