.play_container{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/syonit_stadium4.png'); /* Replace with the path to your image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    color: #fff;
    padding: 0 20px 150px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.play_header {
    font-family: "DM Sans" !important;
font-style: normal;
font-size: 28px;
line-height: 22px;
leading-trim: both;
text-edge: cap;
  font-weight: bold; 
  margin: 20px 0;
  text-align: left;
  width: 100%;
}
.game_process{
    padding: 20px;
    list-style-type: decimal;
}
.main_list{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 40px;
}
.play_list{
    list-style-type: circle;
    padding: 10px;
}
.play_list li{
    font-family: "Helvetica Neue";
color: #fff;
font-size: 18px;
font-weight: 400;
margin-bottom: 10px;
} 