body {
  margin: 0;
}

.inviteContainer {
 height: 100svh;
    background-image:  url('/bg.jpg');
    background-size: 300%; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    padding: 20px ;
    position: relative;
    display: flex;
    flex-direction: column;
}

.subheader {
font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Heebo", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 254, 220, 1);
}

.invite-container {
  background-color: transparent;
  border-radius: 24px;
  padding: 20px;
  width: 100%;
height: 360px;
max-height: 360px;
border: 1px solid rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}
.searchButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchButton input{
    background-color: #faf6d9ff;
    padding: 5px 20px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.5);
}


.tab-buttons {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  justify-content: center;
  margin-top: 10px;
}

.tab-button {
  padding: 0 10px;
  border: none;
 background-color: rgb(218, 195, 152);
 color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}



.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
 border-bottom: 1px solid #faf6d9ff;
 font-family: "DM Sans";
 font-size: 14px;
 color: rgba(0, 0, 0, 0.4);
}
.friend-item:last-child{
    border-bottom: none;
}
.friend-name {
  font-size: 14px;
  font-weight: 500;
}

.status {
  padding: 0 10px;
  border-radius: 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.status.in-game {
  background-color: #fb7b3cff;
}

.status.readied {
  background-color: #faf6d9ff;
}

.points {
  font-size: 12px;
  font-family: "DM Sans";
  font-weight: bold;
 color: rgba(0, 0, 0, 0.5);
 background-color: #faf6d9ff;
 padding: 0 10px;
 border-radius: 10px;
}
.add-friend{
  font-size: 12px;
  font-family: "DM Sans";
  font-weight: bold;
 color: rgba(0, 0, 0, 0.9);
 background-color: #faf6d9ff;
 padding: 0 10px;
 border-radius: 10px;
}
.extra-info{
display: flex;
align-items: center;
justify-content: space-between;
gap: 5px;
}
.status-circle{
width: 20px;
height: 20px;
display: inline-block;
border-radius: 50%;
background-color: #faf6d9ff;
}
.status-active{
background-color: #fb7b3cff;
}
.email-input {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.email-input input {
   background-color: #faf6d9ff;
    padding: 5px 20px;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    flex: 1;
}

.send-button {
  padding: 10px 20px;
  border: none;
  background-color: #fb7b3cff;
  color: #faf6d9ff;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: "DM Sans";
  cursor: pointer;
}


.bottom-button{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0 20px;
}