
  /* Input Fields */
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 30px;
    font-family: "Heebo" !important;
border: 1px solid #A1A1A1;
border-radius: 36px;
  }
  
  .input-field {
    display: flex;
    flex-direction: column;
    background-color: #333;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: "Heebo" !important;
    font-weight: 700;
  }
  
  .input-field label {
    font-size: 12px;
    text-transform: uppercase;
    color: #aaa;
    margin-bottom: 5px;
    font-family: "Heebo" !important;
    font-weight: 700;
  }
  
  .input-field input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    outline: none;
    font-family: "Heebo" !important;
    font-weight: 700;
  }
  
  /* Sign in with Apple Button */
  .apple-button {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    cursor: pointer;
    width: 80%;
    text-align: center;
    font-family: "Heebo" !important;
    font-weight: 700;
  }
  
  .apple-icon {
    font-size: 20px;
  }
  
  
  