.sign-container {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/syonit_stadium4.png'); /* Replace with the path to your image */
  background-size: cover; /* Ensures the image covers the entire screen */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center;
  color: #fff;
  padding: 20px 20px 150px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
  /* Input Fields */
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px 10px;
    font-family: "Heebo" !important;
border: 1px solid #fff;
border-radius: 36px;
margin-bottom: 10px;
  }
  
  .input-field {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: "Heebo" !important;
    font-weight: 700;
  }
  
  .input-field label {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 5px;
    font-family: "Heebo" !important;
    font-weight: 700;
  }
  
  .input-field input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    outline: none;
    font-family: "Heebo" !important;
    font-weight: 700;
  }
  
  .input-field input::placeholder{
    color: #fff;
    font-family: "Heebo" !important;
    font-size: 12px;
    font-weight: 400;
  }
  /* Sign in with Apple Button */
  .apple-button {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Grimer" !important;
    cursor: pointer;
    width: 90%;
    text-align: center;
    font-weight: 700;
    margin: 0px auto 10px;
  }
  
  .apple-icon {
    font-size: 20px;
  }

.sign_buttons_container{
  width: 100%;
  position: fixed;
bottom: 0%;
left: 0;
padding: 40px 20px;
z-index: 100;
display: flex;
justify-content: space-between;
align-items: center;
gap: 40px;
}
.sign_stroke_links{
  width: 200px;
  padding: 10px 5px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: "DM Sans";
  font-size: 14px;
  outline: none;
}
.profile_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-picture{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-picture img{
  width: 100%;
  height: 100%;
}
  
  
  