

.signContainer {
    min-height: 100svh;
    background-image: url('/bg.jpg');
    background-size: 400%; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    padding: 20px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.signHeader {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
    font-family: 'Heebo', sans-serif;
  font-size: 16x;
  text-transform: capitalize;
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 7.68px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.subheader {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Heebo", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 254, 220, 1);
}

.form-container {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
height: 359px;
max-height: 360px;
max-height: 450px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form-spacer{
     display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-container label, .resend-code p{
  display: block;
  font-size: 10px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}
.social-login p{
    font-size: 16px;
  font-family: "DM Sans";
  font-weight: 500;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  background-color: rgba(250, 231, 193, 0.3);
  border-radius: 30px;
  font-size: 14px;
  color: #faf6d9ff;
}
input::placeholder{
    color: #faf6d9ff;
}

.social-login {
  text-align: center;
  margin-top: 10px;
}

.social-login p {
  font-size: 10px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
}

.social-button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 10px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  font-size: 24px;
  background-color: #faf6d9ff;
  border-radius: 50%;
color: #FB7B3Cff;
  cursor: pointer;
  border: none;
  outline: none;
}

.social-button img {
  width: 20px;
  height: 20px;
}

.legal-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.legal-section span{
  display: inline-block;
  font-size: 10px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
}

.terms {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-family: "DM Sans";
  font-weight: 500;
}
input[type="checkbox"]{
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}
input[type="checkbox"]:checked{
  appearance: auto;
    background-color: blue;
}
.instruction-text {
  font-size: 10px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 20px;
}

.verification-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.verification-box {
  width: 75px;
  height: 96px;
  text-align: center;
  font-size: 20px;
  margin-right: 5px;
  background-color: transparent;
  color: #faf6d9ff;
    border: 1px solid rgba(250, 231, 193, 1) !important;
  border-radius: 22px;
  outline: none;
  box-shadow: none;
}

.resend-code {
  text-align: center;
 margin-bottom: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.resend-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin-top: 10px;
  color: rgba(254, 244, 220, 1);
}
 hr{
    width: 20px;
    background-color: #FAF6D9FF;
  }

.progress-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  width: 100%;
}

.progress-circles span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(249, 202, 124, 0.42);
  border: 1px solid transparent;
}

.progress-circles span.active {
  background-color: rgba(247, 113, 47, 1);
}

.button-group {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
