
.profileContainer {
 height: 100svh;
    background-image: url('/bg.jpg');
    background-size: 400%; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.profileHeader {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
    font-family: 'Heebo', sans-serif;
  font-size: 16x;
  text-transform: capitalize;
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 7.68px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.subheader {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Heebo", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 254, 220, 1);
  text-transform: uppercase;
}

.profile-container {
  background-color: transparent;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
 height: 360px;
 max-height: 360px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-bottom: 20px;
}
hr{
    width: 20px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 5px;
  }
.profile-picture {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(226, 226, 226, 0.55);
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: rgb(251, 118, 60, 0.1);
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-label {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Heebo";
  font-size: 10px;
  letter-spacing: 1.8px;
  font-weight: 700;
}
.bottom-button{
  position: absolute;
   bottom: 20px;
 left: 0;
 right: 0;
 padding: 20px;
 width: 100%;
}
.profile-button {
  width: 100%;
    height: 94px;
    background: transparent;
    border-radius: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: color 0.3s;
    aspect-ratio: 1/15;
    transform: rotateY(0deg);
    border: 2px solid rgba(248, 194, 158, 1);
    color: rgba(247, 113, 47, 1);
    font-family: "Heebo", sans-serif;
      font-weight: 700;
          text-align: center;
          font-size: 18px;
          text-transform: uppercase;
}

.action-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

