.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 30px;
    font-family: "Heebo" !important;
border: 1px solid #A1A1A1;
border-radius: 36px;
  }
  
  .input-field {
    display: flex;
    flex-direction: column;
    background-color: #333;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: "Heebo" !important;
    font-weight: 700;
  }
  
  .input-field label {
    font-size: 12px;
    text-transform: uppercase;
    color: #aaa;
    margin-bottom: 5px;
    font-family: "Heebo" !important;
    font-weight: 700;
  }
  
  .input-field input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    outline: none;
    font-family: "Heebo" !important;
    font-weight: 700;
  }
  .profile_pic{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile_pic img{
    border: 1px solid #fff;
  }