
.new_onboarding_container {
  height: calc(var(--vh, 1vh) * 100);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/syonit_stadium4.png');
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    color: #fff;
    padding: 40px 20px;
  }
  .onboarding_primary_text{
    width: 100%;
    position: relative;
    text-align: center;
  }
  .onboarding_primary_text h1{
  font-family: 'Helvetica Neue';
  font-size: 85px;
  line-height: 96px;
  text-transform: capitalize;
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  }
  .illustration{
    background-color: #000;
  }
  .onboarding_primary_text h1 span{
    display: inline-flex;
    width: 70px;
    height: 100%;
    align-items: flex-end;
  }
  .onboarding_primary_text h1 span img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0px;
  }
  .onboarding_primary_text p{
    font-family: "DM Sans";
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .new_onboarding_bottom_content{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 20px 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  }
  .new_onboarding_illustration{
    width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
    visibility: visible;
  opacity: 1;
  transition: visibility 0s .5s, opacity 1s .5s;
  }
  .new_onboarding_illustration img{
    width: 100%;
    height: 100%;
  }
  .onboarding_musketeer{
   width: 90px;
   height: 90px;
   margin-bottom: 10px;
  }
  .new_onboarding_bottom_text{
    text-align: center;
    width: 100%;
    font-family: "sf-display";
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  .become_a_syonaire{
    font-family: "DM Sans";
    font-size: 12px;
    font-weight: 200;
    letter-spacing: -0.5px;
  }
  .play_container button{
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    background-color: #fff;
    color: lightgray;
    margin: 5px 0;
  }
