
.new_onboarding_container {
  height: calc(var(--vh, 1vh) * 100);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/syonit_stadium5.png');
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    color: #26282a;
    padding: 40px 20px;
  }
  .onboarding_primary_text{
    width: 100%;
    position: relative;
    text-align: center;
  }
  
  .onboarding_primary_text h1{
  font-family: 'Helvetica Neue';
  font-size: 36px;
  line-height: 42px;
  text-transform: capitalize;
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  letter-spacing: 0.05em;
  }
  .illustration{
    background-color: #000;
  }
  .onboarding_primary_text h1 span{
    display: inline-flex;
    width: 36px;
    height: 100%;
    align-items: flex-end;
  }

  .onboarding_primary_text p{
    font-family: "DM Sans";
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .new_onboarding_bottom_content{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 20px 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  }
  .new_onboarding_illustration{
    width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
    visibility: visible;
  opacity: 1;
  transition: visibility 0s .5s, opacity 1s .5s;
  }
  .new_onboarding_illustration img{
    width: 100%;
    height: 100%;
  }
  .onboarding_musketeer{
   width: 110px;
   height: 110px;
   margin-bottom: 5px;
  }
  .new_onboarding_bottom_text{
    text-align: center;
    width: 100%;
    font-family: "sf-display";
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .become_a_syonaire{
    font-family: "DM Sans";
    font-size: 10px;
    font-weight: 200;
    letter-spacing: -0.5px;
  }
  .flipped{
    display: inline-block;
    transform: scaleX(-1);
  }
  .play_container{
    width: 100vw;
    padding: 10px 20px;
  }
  .play_container button{
    width: 100%;
    background-color: transparent;
  border: 1px solid #26282a;
  border-radius: 9999px;
  height: 80px;
  overflow: hidden;
  color: #26282a;
  font-size: 32px;
  text-transform: uppercase;
  }
  .flip-container {
    perspective: 1000px;
  }
  
  .flip-card {
    width: 40px;
    height: 40px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    animation: flip-animation 4s infinite; /* Animation applied here */
  }
  
  .flip-card:hover {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
  .flip-card-front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .flip-card-back {
    background: #f7EE25;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    transform: rotateY(180deg);
  }
  
  .coin_musketeer{
    width: 50px;
    height: 50px;
    stroke: #000;
    fill: #000;
    object-fit: contain; 
  }
  @keyframes flip-animation {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
  @media all and (max-width: 399px){
    .new_onboarding_bottom_content{
      width: 100%;
      padding: 10px 0;
      justify-content: flex-end;
        }
        .onboarding_musketeer{
          width: 70px;
          height: 70px;
          margin-bottom: 5px;
         }
  }
