.progress-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px;
}

.progress-bar {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 9999px;
  height: 80px;
  overflow: hidden;
  position: relative;

}
.progress-bar::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    border-radius: 9999px;
   -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
            box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
    background-color: rgb(255 255 255 / 10%);
}

.progress-bar::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 9999px;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    -webkit-filter: url(#container-glass);
            filter: url(#container-glass);
    overflow: hidden;
    isolation: isolate;
}
.progress-fill {
  height: 100%;
  background-color: rgb(209, 119, 74);
  border-radius: 9999px;
  transition: width 0.3s ease-in-out;
}

.play-button {
  margin-top: 1rem;
  width: 100%;
  background-color: #48bb78;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.play-button:hover {
  background-color: #38a169;
}