.progress-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px;
}

.progress-bar {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgb(209, 119, 74);
  border-radius: 9999px;
  height: 80px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: rgb(209, 119, 74);
  border-radius: 9999px;
  transition: width 0.3s ease-in-out;
}

.play-button {
  margin-top: 1rem;
  width: 100%;
  background-color: #48bb78;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.play-button:hover {
  background-color: #38a169;
}