.success-container {
 height: 100svh;
    background-image: url('/bg.jpg');
    background-size: 400%; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
color: #ffffff ;
  padding: 1.5rem;
}

.success-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.8rem;

  animation: popIn 0.8s ease-out;
}

.success-text {
  font-size: 1rem;
  color: #cfcfcf;
  max-width: 420px;
  line-height: 1.6;
}

.success-text span {
  color: #ffffff;
  font-weight: 600;
}

.redirect-text {
  margin-top: 1.5rem;
  font-size: 0.85rem;
  color: #fafafa;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
