.home_container{
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home_container .swiper_container{
    padding-bottom: 40px;
}
.custom-pagination-bullet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .bullet-label {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  color: #D9D9D9 !important;
  display: inline-block;
  margin-bottom: 7px;
  text-transform: uppercase;
  }
  
  .swiper-pagination-bullet  {
    width: 77px !important;
    display: inline-block;
    height: 8px !important;
    background-color: #666 !important;
    border-radius: 3px !important;
  
  }
  
.swiper-pagination-bullet-active .pagination-dot {
    background-color: #fff !important;
  }
 .home_container .swiper-pagination{
    display: flex;
    justify-content: space-between;
    bottom: 0 !important;
    z-index: 100;
  }
.header_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.profile_menu{
    margin-top: 15px;
}
.main_header h1 {
    font-family: "Grimer" !important;
    font-style: normal;
    font-size: 24px;
    line-height: 22px;
    leading-trim: both;
    text-edge: cap;
    color: #FFFFFF;
    }
.Home_screen{
    padding: 20px;
}
    .current_game_info_buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .current_game_info_buttons p{
font-family: "Heebo";
width: 96px;
height: 24px;
text-align: center;
color: #000;
background: #D9D9D9;
border-radius: 16px;
display: flex;
align-items: center;
justify-content: center;
font-size: 12px;
    }
    .current_game_header{
font-family: 'Grimer';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 22px;
leading-trim: both;
text-edge: cap;
text-align: center;
color: #FFFFFF;
margin-bottom: 10px;
    }
    .game_round{
width: 100%;
height: 32px;
background: #D9D9D9;
border-radius: 8px;
margin: 15px 0;
display: flex;
align-items: center;
justify-content: space-between;
    }

    .round_section{
font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #292828;
    }
    .y-section, .n-section{
        width: 35%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 10px;
        position: relative;
        background-color: transparent;
        transition: background-color 1s ease, border-color 1s ease;
    }
.highlight{
background-color: #292828;
border-radius: 8px;
}
.y-section p, .n-section p{
    opacity: 0;
}
.yes_count{
position: absolute;
left: 40%;
position: absolute;
    top: 50%;
    transform: translateY(-50%);
font-family: 'Grimer' !important;
font-size: 16px;
color: #292828;
}
.no_count{
    position: absolute;
    right: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Grimer' !important;
font-size: 16px;
color: #292828;
}
.higher_section .yes_count, .higher_section .no_count{
    color: #D9D9D9;
}
.Y_icon, .N_icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
font-family: "Grimer" !important;
font-size: 16px;
color: #292828;
}
.higher_section .Y_icon, .higher_section .N_icon{
    width: 24px;
    height: 24px;
    background: #D9D9D9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.N_icon{
    right: 10%;
}
.Y_icon{
    left: 10%;
}

.played p{
    opacity: 1;
    color: #000;
}
.game_buttons{
width: 100%;
height: 72px;
background: #D9D9D9;
border-radius: 36px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
}
.game_button{
background-color: transparent;
width: 24px;
height: 22px;
font-family: 'Grimer';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;
color: #A1A1A1;
}
.screen_desc{
    text-align: center;
color: #A1A1A1;
font-family: 'Grimer';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 29px;
}
.home_bottom{
    margin-top: auto;
}
.higher_section{
background-color: #292828;
border-radius: 8px;
}
