.home_container{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/syonit_stadium4.png'); /* Replace with the path to your image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    color: #fff;
    padding: 0 20px 150px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Home_screen{
    width: 100%;
    min-height: 200px;
    border: 1px solid #fff;
    border-radius: 36px;
    display: block;
    }
.home_container .swiper_container{
    padding-bottom: 40px;
}
.custom-pagination-bullet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .bullet-label {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #D9D9D9 !important;
  display: inline-block;
  margin-bottom: 7px;
  text-transform: uppercase;
  }
  
  .swiper-pagination-bullet  {
    width: 77px !important;
    display: inline-block;
    height: 8px !important;
    background-color: #666 !important;
    border-radius: 3px !important;
  
  }
  
.swiper-pagination-bullet-active{
    background-color: #fff!important;
  }
 .home_container .swiper-pagination{
    display: flex;
    justify-content: space-between;
    bottom: 0 !important;
    z-index: 100;
  }
.profile_menu{
    margin-top: 15px;
}

.Home_screen{
    padding: 20px;
}

    .current_game_info_buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .current_game_info_buttons p{
font-family: "Helvetica Neue";
width: 96px;
height: 24px;
text-align: center;
color: #fff;
background: transparent;
border: 1px solid #fff;
border-radius: 16px;
display: flex;
align-items: center;
justify-content: center;
font-size: 12px;
font-weight: 500;
    }
    .current_game_header{
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
leading-trim: both;
text-edge: cap;
text-align: center;
color: #FFFFFF;
margin-bottom: 10px;
    }

.game_buttons{
width: 100%;
height: 72px;
background: transparent;
border: 1px solid #fff;
border-radius: 36px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
}
.game_button{
background-color: transparent;
width: 24px;
height: 22px;
border: none;
outline: none;
font-family: 'Grimer';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;
color: #fff;
}
.screen_desc{
    text-align: center;
color: #A1A1A1;
font-family: 'Grimer';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 29px;
}
.home_bottom{
    margin-top: auto;
}
.higher_section{
background-color: #292828;
border-radius: 8px;
}
.home_buttons_container{
    width: 100%;
    position: fixed;
  bottom: 0%;
  left: 0;
  padding: 40px 20px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.home_stroke_links{
    width: 200px;
    padding: 10px 5px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: "DM Sans";
    font-size: 14px;
    outline: none;
}
.frozenButtonContainer {
    width: 100%;
    height: 94px;
    background-color: #a9d8f3;
    color: #000;
    border-radius: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    overflow: hidden;
    transition: color 0.3s;
    position: absolute;
    bottom: 40px;
    left: 0
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  .modal h2{
    color: #000;
  }
  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .no-button, .continue-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .no-button {
    background-color: red;
    color: white;
  }
  
  .continue-button {
    background-color: green;
    color: white;
  }
@media all and (max-width: 400px){
    .bullet-label {
        font-size: 8px;
        line-height: 12px;
        }
        .home_stroke_links{
            font-family: "DM Sans", serif;
            font-size: 10px;
            text-transform: uppercase;
            color: transparent;
            z-index: 100;
            -webkit-text-stroke: 0.5px #fff;
        }
}