.slider-container {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #fff;
    border-radius: 36px;
    display: block;
    padding: 20px;
    margin-bottom: 40px;
  }
  .active{
    background-color: green;
  }
  h1 {
font-size: 18px;
text-align: center;
  }
  .image-wrapper {
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    height: 300px;
  }
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  .text-container {
    margin-top: 16px;
    text-align: center;
  }
  .slider-text {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }