
.gameContainer {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/bg.jpg');
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    padding: 20px ;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.header-section .header {
   font-size: 24px;
  font-weight: bold;
    font-family: 'DM Sans';
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.30em;
  color: #faf6d9ff;
  text-align: center;
}

.profile-icon, .book-icon {
  width: 50px;
  height: 50px;
  background-color: rgb(196, 186, 167);
  border-radius: 50%;
  position: relative;
  font-size: 24px;
  color: #fb7b3cff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.online{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fb7b3cff;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: -2px;
}
.points-section {
  display: flex;
  flex-direction: column;
  justify-content: "center";
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.points-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
}

.points-section p {
  font-size: 14px;
  margin: 0 10px;
  color: #faf6d9ff;
  font-family: "DM Sans";
  font-weight: 500;
}
.points-container span{
    color: rgba(0, 0, 0, 0.5);
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #d3d3d3;
  position: relative;
}

.progress-fill {
  height: 100%;
  background-color: #ff6200;
  transition: width 0.3s ease-in-out;
}

.game-container, .idea-container, .leaderboard-container, .special-container {
  background-color: transparent;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
height: 350px;
max-height: 400px;
border: 1px solid #faf6d9ff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
}
.idea-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.idea-container h3, .leaderboard-container h3, .special-container h3{
         font-size: 16px;
        font-weight: 500;
        font-family: "DM Sans";
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.7);
        text-align: center;
        letter-spacing: 0.05em;
        margin-top: -45px;
}
.stats {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.question-slots {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.slot {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 40px;
}

.slot-number {
  width: 40px;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.slot-number.filled {
  background-color: #000;
  color: #fff;
}

.answer-buttons {
  display: flex;
  justify-content: space-between;
}

.answer-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #e0e0e0;
  cursor: pointer;
}



.idea-container p, .leaderboard-container p, .special-container p {
  font-size: 18px;
  text-align: center;
  font-family: "DM Sans";
  color: #faf6d9ff;
  font-weight: 700;
}

.quote-author {
  font-style: italic;
  text-align: right;
  margin-top: 10px;
  color: #fb7b3cff !important;
  font-family: "Grimer";
}

.leaderboard-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}

.nav-button {
  width: 50px;
  height: 50px;
  border: none;
  background: rgb(204, 168, 102);
  font-size: 24px;
  cursor: pointer;
border-radius: 50%;
color: rgba(0, 0, 0, 0.7);
}

.nav-button.active {
  background-color: #fb7b3cff;
  color: #faf6d9ff;
}
.game_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.game_details p{
    font-size: 14px;
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "DM Sans";
  font-weight: 700;
}
.icon {
  display: block;
}

.action-buttons {
  display: flex;
  gap: 20px;
  width: 80%;
  max-width: 400px;
}

.action-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.action-button span:first-child {
  font-size: 12px;
  color: #666;
}

.action-button span:last-child {
  font-size: 14px;
}
.bottom-button{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0 20px;
}