
.homeContainer {
    height: 100svh;
background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/bg.jpg');
    background-size: 350%; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.points-section {
  display: flex;
  flex-direction: column;
  justify-content: "center";
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.points-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
}

.points-section p {
  font-size: 10px;
  margin: 0 10px;
  color: rgba(255, 255, 255, 1);
  font-family: "heebo", sans-serif;
  font-weight: 700;
  letter-spacing: 1.8px;
}
.points-container span{
    color: rgba(0, 0, 0, 0.3);
}

.progress-bar {
  width: 100%;
  height: 3px;
  background-color: rgba(174, 153, 109, 1);
  position: relative;
}

.progress-fill {
  height: 100%;
  background-color: rgba(241, 113, 47, 1);
  transition: width 0.3s ease-in-out;
}

.Home-slide, .idea-container, .leaderboard-container, .special-container {
  background-color: transparent;
  border-radius: 24px;
  padding: 20px;
  width: 100%;
height: 360px;
max-height: 360px;
border: 1px solid rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}
.idea-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
 .idea-container h3, .leaderboard-container h3, .special-container h3{
         font-size: 10px;
        font-weight: 700;
        font-family: "Heebo", sans-serif;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.3);
        text-align: center;
        margin-top: -45px;
}
.homeContainer h3{
      font-size: 10px;
        font-weight: 700;
        font-family: "Heebo", sans-serif;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.3);
        text-align: center;
}
.stats {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.question-slots {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.slot {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 40px;
}

.slot-number {
  width: 40px;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.slot-number.filled {
  background-color: #000;
  color: #fff;
}

.answer-buttons {
  display: flex;
  justify-content: space-between;
}

.answer-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #e0e0e0;
  cursor: pointer;
}



.idea-container p, .leaderboard-container p, .special-container p {
  font-size: 18px;
  text-align: center;
  font-family: "Heebo", sans-serif;
  color: rgba(254, 243, 218, 1);
  font-weight: 700;
}

.quote-author {
  font-style: italic;
  text-align: right;
  margin-top: 10px;
  color: #fb7b3cff !important;
  font-family: "Grimer";
}

.leaderboard-header {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  letter-spacing: 1.8px;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  margin-top: 20px;
}
.special-container p{
  padding-top: 20px;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}

.nav-button {
  width: 40px;
  height: 40px;
  border: none;
  background: rgba(249, 202, 124, 0.42);
  font-size: 24px;
  cursor: pointer;
border-radius: 50%;
color: rgba(152, 146, 132, 1);
}

.nav-button.active {
  background-color: rgba(247, 113, 47, 1);
  color: rgba(255, 255, 255, 1);
}
.game_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.game_details p{
    font-size: 10px;
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Heebo";
  font-weight: 700;
  letter-spacing: 1.8px;
}
.icon {
  display: block;
}


.bottom-button{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0 20px;
}